<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <div id="allCont">
    <div id="cont">
        <h1>Welcome to the review page!</h1>
        <h2>List of restaurants:</h2>
        <div id="mainCont">
                <table>
                    <% for(let i=0; i < restaurants.length; i++){ %>
                    <tr>
                        <th>
                            <li> <a href="/restPage/<%= restaurants[i].name %>"> <%= restaurants[i].name %></a></li>
                        </th>
                        <th>
                            <form action="/removeRest" method="POST">
                                <input type="text" value="<%= restaurants[i].name %>" name="name" hidden>
                                <button type="submit">Delete</button>
                            </form>
                        </th>
                    </tr>
                    <% } %>
                </table>
            </div>
                <form action="/addRestaurant" method="POST">
                    <input type="text" name="name" placeholder="enter new restaurant name..." required>
                    <button type="submit">Submit</button>
                </form>
            </div>
    
    <div class="logout">
        <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit">Log out</button>
        </form>
    </div>
</div>
</body>

</html>