<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">    
  <input type="text" name="username">
  <input type="text" name="password">
  <button type="submit"></button>
  </form>
  
  <h1>Register</h1>
  <form action="/register" method="POST">  
  <input type="text">
  <input type="text">
  </form>
  
</body>
</html>